{% extends 'layout.html' %}

{% block title %}Stock Prices{% endblock %}

{% block content %}
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </head>
  <body>

    <br>
    <center>
    <table>
      <tr>
          <td>Enter Company:</td>
          
          <td>
            <form action="{{ url_for('stock_prices') }}" method="post" autocomplete="off">
              <input type="text" name="company" placeholder="e.g. 'AAPL'" id="company" required>
              <input type="submit" value="Submit">
            </form>
          </td>
      </tr>

    </table>
    <h3 id="currComp"></h3>
    
    <script>
      var comp = {{ company.company|tojson }};
      if(comp === 'Invalid Company Chosen'){
        document.getElementById("currComp").innerHTML = comp;
      }else{
        document.getElementById("currComp").innerHTML = comp + '\'s Stock Price';
      }
      
    </script>
    </center>
    
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
      var ctx = document.getElementById("myChart").getContext("2d");
      ctx.canvas.height = screen.height/4;
      var linechart = new Chart(ctx,{
        type:'line',
        data:{
          labels: {{labels | safe}},
          datasets:[
            {
              label: "Closing Price",
              data: {{close_value | safe}},
              fill: false,
              borderColor: "rgb(75,192,192)",
              lineTension: 0.1
            }
          ]
        },
        options:{
          responsiveness: true,
          maintainAspectRatio: false
        }
      });
    </script>
  </body>
{% endblock %}